@font-face {
  font-family: Poppins;
  src: url("../../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: Poppins500;
  src: url("../../fonts/Poppins-SemiBold.ttf");
}
@font-face {
  font-family: Poppins600;
  src: url("../../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: Poppins700;
  src: url("../../fonts/Poppins-Bold.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
}

button {
  background: none;
  border: none;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.blog-page .hero_section_title h1 {
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding: 128px 166px 16px 166px;
}
.blog-page .hero_section_title p {
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  opacity: 0.87;
  padding-bottom: 32px;
}
.blog-page .hero_section_title p span {
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.blog-page .hero_section_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog-page .hero_section_info p {
  color: #282938;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding: 48px 224px 16px 224px;
  opacity: 0.7;
}
.blog-page .hero_section_info a {
  color: #2405F2;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  opacity: 0.7;
}
.blog-page .blog_section {
  padding: 128px 0;
}
.blog-page .blog_section_title h1 {
  text-align: center;
  color: #282938;
  font-family: Poppins;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 64px;
  padding-bottom: 48px;
}
.blog-page .blog_section .blog_section_cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 64px;
}
.blog-page .blog_section .blog_section_cards .blog_section_card h4 {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  padding-top: 32px;
  padding-bottom: 16px;
}
.blog-page .blog_section .blog_section_cards .blog_section_card h2 {
  color: #282938;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  padding-bottom: 16px;
}
.blog-page .blog_section .blog_section_cards .blog_section_card p {
  color: #282938;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 24px;
}
.blog-page .blog_section .blog_section_cards .blog_section_card button {
  display: flex;
  align-items: center;
  gap: 12px;
}
.blog-page .blog_section .blog_section_cards .blog_section_card button a {
  color: #1C1E53;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 175% */
}

@media (max-width: 776px) {
  .blog-page .hero_section .container {
    width: 100%;
  }
  .blog-page .hero_section .container .hero_section_title {
    width: 100%;
    text-align: center;
  }
  .blog-page .hero_section .container .hero_section_title h1 {
    padding: 0;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */