@use "../components" as *;
@use '../abstracts' as *;
@use '../abstracts' as *;

.dark  {
    background: $inky-color;
    .hero-section {
        .work-btn {
            color: $black-color !important;
            &:hover {
                color: $yellow-color !important;
            }
        }
    }
    .product-section {
        background: $inky-color !important;
        .product-card {
            background: $black-color !important;
        }
    }
    .clients-section {
        background: rgba(244, 246, 252, 0.1) !important;
    }
}

.home-page {
    .hero-section {
        background: $inky-color;
        padding: 128px 0;
        &-content {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            .hero-left {
                max-width: 562px;
                h2 {
                    color: #FFF;
                    font-family: Poppins600;
                    font-size: 54px;
                    line-height: 74px;
                    margin-bottom: 24px;
                }
                p {
                    color: #BBBBCB;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px;
                    margin-bottom: 48px;
                }
                &-btnGroup {
                    display: flex;
                    align-items: center;
                    gap: 40px;
                    .work-btn {
                        padding: 16px 56px;
                        border-radius: 41px;
                        border: 1px solid #FCD980;
                        background: #FCD980;
                        color: #1B1C2B;
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 32px;
                        transition: .3s;
                        &:hover {
                            background: $inky-color;
                            color: #FCD980;
                        }
                    }
                    .pricing-btn {
                        display: flex;
                        align-items: center;
                        gap: 16px;
                        color:  #FFF;
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 28px;
                        transition: .3s;
                    }
                }
            }
        }
    }
    .project-section {
        padding: 58px 0 128px 0;
        &-content {
            .project-heading {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 64px;
                h2 {
                    color: $black-color;
                    font-family: Poppins600;
                    font-size: 48px;
                    line-height: 64px;
                }
                a {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    color: $black-color;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px; 
                }
            }
            .project-cards {
                display: flex;
                justify-content: center;
                gap: 32px;
                .project-cards-left {
                    cursor: pointer;
                }
                .project-cards-right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center; 
                    gap: 26px;      
                    .project-card {
                        cursor: pointer;
                    }           
                }
            }
        }
    }
    .product-section {
        padding: 128px 0;
        background: $white-color;
        &-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            h5 {
                color: $black-color;
                text-align: center;
                font-size: 16px;
                font-weight: 600;
                line-height: 28px; 
                margin-bottom: 12px;
            }
            h2 {
                max-width: 630px;
                color: var(--Dark-blue, #282938);
                text-align: center;
                font-family: Poppins600;
                font-size: 48px;
                line-height: 64px;
                margin-bottom: 48px;
            }
            .product-cardsGroup {
                display: flex;
                flex-direction: column;
                gap: 24px;
                .product-cards {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    gap: 32px;
                    .product-card {
                        padding: 48px 32px 48px 48px;
                        max-width: 405px;
                        background: #FFF;
                        .product-cardIcon {
                            width: 35px;
                            height: 35px;
                        }
                        h3 {
                            margin-top: 25px;
                            margin-bottom: 12px;
                            color: $black-color;
                            font-size: 24px;
                            font-weight: 600;
                            line-height: 36px;
                        }
                        p {
                            color: $black-color;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28px; 
                        }
                    }
                }
            }
        }
    }
    .clients-section {
        background: rgba(244, 246, 252, 0.5);
        padding: 128px 0;
        &-content {
            display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;
            .clients-left {
                max-width: 335px;
                h2 {
                    color: var(--Dark-blue, #282938);
                    font-family: Poppins600;
                    font-size: 38px;
                    line-height: 56px;
                }
                p {
                    color: $black-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            .clients-right {
                display: flex;
                flex-direction: column;
                gap: 40px;
                max-width: 840px !important;
                width: 100%;
                .owl-carousel {
                    position: relative;
                    .item {
                        h3 {
                            max-width: 840px;
                            color: $black-color;
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 48px; 
                        }
                    }
                    .owl-nav {
                        position: absolute;
                    }
                }
                .clients-right-bottom {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .clients-profile {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        .clients-profileName {
                            h4 {
                                color: $black-color;
                                font-size: 18px;
                                font-weight: 600;
                                line-height: 26px;
                            }
                            p {
                                color: $black-color;
                                font-size: 12px;
                                font-weight: 600;
                                line-height: 22px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1330px) {
    .project-section {
        .project-section-content {
            .project-cards {
                flex-wrap: wrap;
                .project-cards-right {
                    flex-direction: row;
                }
            }
        }
    }
}

@media (max-width: 1245px) {
    .hero-section {
        .hero-section-content {
            flex-direction: column;
            .hero-right {
                order: -1;
                margin-bottom: 50px;
            }
            .hero-left {
                h2 {
                    text-align: center;
                }
                p {
                    text-align: center;
                } 
                .hero-left-btnGroup {
                    justify-content: center;
                }
            }
        }
    }
    .clients-section {
        .clients-section-content {
            flex-direction: column;
            align-items: center;
            .clients-left {
                h2 {
                    text-align: center;
                    margin-bottom: 16px;
                }
                p {
                    text-align: center;
                    margin-bottom: 50px;
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .project-section {
        .project-section-content {
            .project-heading {
                h2 {
                    font-size: 34px;
                }
            }
            .project-cards {
                .project-cards-left {
                    .project-left-img {
                        img {
                            max-width: 600px;
                        }
                    }
                }
            }
            .project-cards-right {
                img {
                    width: 295px;
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .hero-section {
        .hero-section-content {
            .hero-right {
                img {
                    max-width: 450px;
                }
            }
            .hero-left {
                h2 {
                    font-size: 34px;
                    line-height: 40px;
                }
            }
        }
    }
    .project-section {
        .project-section-content {
            .project-cards {
                .project-cards-left {
                    .project-left-img {
                        img {
                            max-width: 420px;
                        }
                    }
                }
            }
            .project-cards-right {
                img {
                    width: 200px;
                }
            }
        }
    }
    .product-section {
        .product-section-content {
            h2 {
                font-size: 30px;
                line-height: 36px;
            }
        }
    }
    .clients-section {
        .clients-section-content {
            .item {
                h3 {
                    font-size: 22px !important;
                    line-height: 34px !important;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .hero-section {
        padding: 60px 0 !important;
        .hero-section-content {
            .hero-left-btnGroup {
                gap: 12px;
                .work-btn {
                    padding: 8px 20px !important;
                    font-size: 14px !important;
                }
                .pricing-btn {
                    gap: 4px;
                    font-size: 14px !important;
                }
            }
            .hero-right {
                img {
                    max-width: 320px;
                }
            }
        }
    }
    .project-section {
        .project-section-content {
            .project-heading {
                h2 {
                    line-height: 34px;
                    max-width: 155px;
                }
                a {
                    gap: 8px;
                    font-size: 14px;
                }
            }
            .project-cards {
                .project-cards-left {
                    .project-left-img {
                        img {
                            max-width: 300px;
                        }
                    }
                }
            }
            .project-cards-right {
                img {
                    width: 140px;
                }
            }
        }
    }
}

@media (max-width: 360px) {
    .hero-right {
        img {
            max-width: 280px !important;
        }
    }
}