@use "../abstracts" as *;
@use "../base" as *;

footer {
    padding: 100px 0;
    background: $inky-color;
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .footer-left {
            max-width: 517px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 86px;
            &-title {
                display: flex;
                flex-direction: column;
                gap: 24px;
                p {
                    max-width: 400px;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 28px; 
                }
            }
            &-contact {
                background: $yellow-color;
                padding: 18px 36px;
                display: flex;
                align-items: center;
                gap: 30px;
                h4 {
                    color: $black-color;
                    font-size: 18px;
                    font-weight: 600;
                    line-height: 32px;
                }
                p {
                    color: $black-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
                .footer-right-title {
                    max-width: 181px;
                }
                .footer-right-social {
                    max-width: 133px;
                }
            }
        }
        .footer-right {
            max-width: 399px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 28px;
            &-title {
                h2 {
                    color: #FFF;
                    font-family: Poppins600;
                    font-size: 48px;
                    line-height: 64px; 
                    margin-bottom: 14px;
                }
                p {
                    color: $white-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                }
            }
            &-social {
                display: flex;
                align-items: center;
                gap: 26px;
            } 
        }
    }
}