* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-style: normal;
    scroll-behavior: smooth;
}

.dark  * {
    color: white !important;
}

body {
    margin-top: 80.6px !important;
}

a { 
    text-decoration: none;
    color: inherit;
}

input {
    outline: none;
}

button {
    background: none;
    border: none;
}

ul {
    list-style-type: none;
}